@{	
	var lib = CreateInstance("_library.cshtml"); 
	var post = PageData["Post"];
    var author = (post.Author.Count > 0) ? post.Author[0] : lib.unknownAuthor;
}
@using Connect.Koi;
    @* Article *@
    <article class="sc-element list-item">
        @Edit.Toolbar(post, toolbar: new { 
            entityId = post.EntityId, 
            entityGuid = post.EntityGuid, 
            entityTitle = post.EntityTitle }
        )
        @* readmore onclick *@
        <div onclick="window.open('@Link.To(parameters: "post=" + post.UrlKey)', '_self')" title="@post.Title" class="app-blog-readmorelink" style="cursor:pointer;">
            <div class="header">
                @if(!String.IsNullOrEmpty(post.Image)){
                <picture class="bg-primary">
                    <img src="@post.Image.ToLower()?w=1200&amp;h=630&amp;mode=crop&amp;scale=both&amp;quality=90&amp;anchor=@post.CropAnchor" class="img-fluid" alt="@post.Title" />
                </picture>
                }
                <h2>@Html.Raw(post.Title.Replace("\n","<br/>"))</h2>
                <div class="details">
                    <div class="person">
                        <a href="@Link.To(parameters: "author=" + author.FullName)">
                            <img src="@author.Image.ToLower()?w=40&amp;h=40&amp;mode=crop&amp;scale=both&amp;quality=80" alt="@author.FullName" />
                        </a>
                    </div>
                    <time pubdate datetime='@post.PublicationMoment.ToString("d")'>@post.PublicationMoment.ToString("d")</time>
                    @{
                        var categoryList = (post.Categories as IEnumerable <dynamic>)
                            .Select(cat => "<a class='category' href='" + Link.To(parameters: "category=" + cat.Key) + "' title='" + cat.Name + "'>" + cat.Name + "</a>").ToArray();
                    }
                    @Html.Raw(string.Join("", categoryList))
                </div>
               
            </div>
            <div class="content">
                @Html.Raw(post.Teaser)
                <span @Koi.Class(@"all='readmore' bs3,unk='btn btn-primary' bs4='btn btn-outline-primary'")>@App.Resources.ReadMore</span>
            </div>
        </div>
        @* END readmore onclick *@

        @* Article footer 
        <div class="footer">
            <div class="tags">
                <strong> @(post.Tags.Count > 1 ? @App.Resources.Tags : @App.Resources.Tag): </strong>
                @{ var tagsList = (post.Tags as IEnumerable <dynamic>)
                    .Select(tag => "<a href='" + Link.To(parameters: "tag=" + tag.Tag) + "' title='" + tag.Name + "'>" + tag.Name + "</a>").ToArray();
                }
                @Html.Raw(string.Join("", tagsList))
            </div>
            <div class="person">
                <a href="@Link.To(parameters: " author=" + author.FullName)">
                    <img src="@author.Image.ToLower()?w=50&amp;h=50&amp;mode=crop&amp;scale=both" alt="@author.FullName" />
                    <h4>@author.FullName</h4>
                </a>
            </div>
        </footer>
         END Article *@
    </article>
    @* END Article *@
	
	
