@using System.Web.UI.HtmlControls

<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/style.css" />
@{	
	var lib = CreateInstance("_library.cshtml"); 

	var post = AsDynamic(Data["Default"]).First();
	var previousPost = AsDynamic(Data["Previous"]).FirstOrDefault();
	var nextPost = AsDynamic(Data["Next"]).FirstOrDefault();
    var author = (post.Author.Count > 0) ? post.Author[0] : lib.unknownAuthor;
	var imgUrl = lib.GetSizedImgUrl(post.Image, post.ImageSquare);

	// only add meta-tags if it's rendered as page - not when the search-index is accessing the template
	if (HttpContext.Current.Handler is Page)
	{
		lib.SetMetaAndTitle(post.MetaTitle, post.Title, post.MetaDescription, lib.StripHtml(post.Teaser));	

		var metaDesc = !String.IsNullOrEmpty(post.SharingDescription) ? post.SharingDescription : lib.StripHtml(post.Teaser);

		lib.SetOpenGraphHeaders("article", 
			post.Title, 
			App.Settings.Title, 
			Link.To(parameters: "post=" + post.UrlKey), 
			metaDesc, 
			imgUrl, 
			post.ImageSquare);
	}
}
@Edit.Toolbar(post)
@if(post.IsPublished || Permissions.UserMayEditContent){
<div class="app-blog sc-element">
	@Edit.Toolbar(post, actions: "edit")	
	<div class="app-blog-detail"> <!-- Add class: app-blog-small -->
		<div class="app-blog-detail-top">
			<div class="app-blog-person">
				<a href="@Link.To(parameters: "author=" + author.FullName)">
					<img src="@author.Image.ToLower()?w=64&amp;h=65&amp;mode=crop&amp;scale=both" alt="@author.FullName" />
					<h4>@author.FullName</h4>
				</a>
			</div>
			<h1>@post.Title</h1>
			<time pubdate datetime="@post.PublicationMoment.ToString("d")">@post.PublicationMoment.ToString("d")</time>
		</div>
		<div class="app-blog-previouslink">

		@if(previousPost != null){
				<a href="@Link.To(parameters: "post=" + previousPost.UrlKey)" >
					<strong>@App.Resources.previousPost @App.Resources.PublicatedOn <time pubdate datetime="@previousPost.PublicationMoment.ToString("d")">@previousPost.PublicationMoment.ToString("d")</time></strong>
					<img src="@previousPost.Image.ToLower()?w=100&amp;h=100&amp;mode=crop&amp;scale=both" alt="@previousPost.Title">
					<span class="app-blog-previouslink-title">@previousPost.Title</span>
				</a>
			}
		</div>
		<div class="app-blog-nextlink">
			@if(nextPost != null){
				<a href="@Link.To(parameters: "post=" + nextPost.UrlKey)" >
					<strong>@App.Resources.NextPost @App.Resources.PublicatedOn <time pubdate datetime="@nextPost.PublicationMoment.ToString("d")">@nextPost.PublicationMoment.ToString("d")</time></strong>
					<img src="@nextPost.Image.ToLower()?w=100&amp;h=100&amp;mode=crop&amp;scale=both" alt="@nextPost.Title">
					<span>@nextPost.Title</span>
				</a>
			}
		</div>

		@if(!String.IsNullOrEmpty(post.Image)){
			<img class="app-blog-image @(post.ImageSquare ? " pull-right" : "") " src="@imgUrl" alt="" />
		}
		<div class="app-blog-text">
		    @ToSic.SexyContent.ContentBlocks.Render.All(post, field: "DesignedContent", merge: post.Body)
		</div>
	</div>
	<hr />
	<div class="app-blog-tags">
		<strong> @(post.Tags.Count > 1 ? @App.Resources.Tags : @App.Resources.Tag): </strong>
		@{
				var tagsList = (post.Tags as IEnumerable<dynamic>)
					.Select(tag => "<a href='" + Link.To(parameters: "tag=" + tag.Tag) + "' title='" + tag.Name + "'>" + tag.Name + "</a>").ToArray(); 
		}
		@Html.Raw(string.Join(", ", tagsList))
	</div>
	<div class="app-blog-categories">
		<strong> @(post.Categories.Count > 1 ? @App.Resources.Categories : @App.Resources.Category): </strong>
		@{
				var categoryList = (post.Categories as IEnumerable<dynamic>)
					.Select(cat => "<a href='" + Link.To(parameters: "category=" + cat.Key) + "' title='" + cat.Name + "'>" + cat.Name + "</a>").ToArray(); 
			}
		@Html.Raw(string.Join(", ", categoryList))
	</div>
	<hr />

	<div class="app-blog-authordetails">
		<div>
			<img style="float: right; margin-left: 5px; width: 200px; height: 200px; border: none;" src='@author.Image'/> @Html.Raw(author.ShortBio)
		</div>
		<div>
		@App.Resources.ReadMore <a href="@Link.To(parameters: "author=" + author.FullName)">@author.FullName</a>
		</div>
	</div>
	<div class="app-blog-backlinks">
		<a class="app-blog-btn app-blog-back" href="@Link.To()" title="Home">@App.Resources.BackToHome</a>
	</div>
</div>
} else {
	Response.StatusCode = 404;
	Response.TrySkipIisCustomErrors = true;
	<h1>404 (not found)</h1>
	<p>
		<a href="/">Back to frontpage</a>
	</p>
}
