@using System.Web.UI.HtmlControls

<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/style.css" />
@{	
	var lib = CreateInstance("_library.cshtml"); 

	var post = AsDynamic(Data["Default"]).First();
    var author = (post.Author.Count > 0) ? post.Author[0] : lib.unknownAuthor;
	var imgWidth = post.ImageSquare ? "300" : "1000";
	var imgHeight = post.ImageSquare ? "300" : "500";
	var imgUrl = lib.GetSizedImgUrl(post.Image, imgHeight, imgWidth);

	// only add meta-tags if it's rendered as page - not when the search-index is accessing the template
	if (HttpContext.Current.Handler is Page)
	{
		lib.SetMetaAndTitle(post.MetaTitle, post.Title, post.MetaDescription, lib.StripHtml(post.Teaser));	

		var metaDesc = !String.IsNullOrEmpty(post.SharingDescription) ? post.SharingDescription : lib.StripHtml(post.Teaser);

		lib.SetOpenGraphHeaders( 
			post.Title, 
			App.Settings.Title, 
			Link.To(parameters: "post=" + post.UrlKey), 
			metaDesc, 
			imgUrl, 
			post.ImageSquare,
			imgHeight,
			imgWidth
			);
	}
}
@if(post.IsPublished || Permissions.UserMayEditContent) {
<div class="app-blog sc-element">
	@Edit.Toolbar(post, actions: "edit")	
	<div class="app-blog-detail"> <!-- Add class: app-blog-small -->
		<div class="app-blog-detail-top">
			<div class="app-blog-person">
				<a href="@Link.To(parameters: "author=" + author.FullName)">
					<img src="@author.Image.ToLower()?w=64&amp;h=65&amp;mode=crop&amp;scale=both" alt="@author.FullName" />
					<h4>@author.FullName</h4>
				</a>
			</div>
			<h1>@post.Title</h1>
			<time pubdate datetime="@post.PublicationMoment.ToString("d")">@post.PublicationMoment.ToString("d")</time>
		</div>

		@* show micro-previews for previous/next post *@
		@RenderPage("_Post micro preview.cshtml", new { post = AsDynamic(Data["Previous"]).FirstOrDefault(), css = "app-blog-previouslink", title = App.Resources.PreviousPost, leftIcon="glyphicon-arrow-left"})
		@RenderPage("_Post micro preview.cshtml", new { post = AsDynamic(Data["Next"]).FirstOrDefault(), css = "app-blog-nextlink", title = App.Resources.NextPost, rightIcon="glyphicon-arrow-right"})

		@if(!String.IsNullOrEmpty(post.Image)){
			<img class="app-blog-image @(post.ImageSquare ? " pull-right" : "") " src="@imgUrl" alt="" />
		}
		<div class="app-blog-text">
		    @ToSic.SexyContent.ContentBlocks.Render.All(post, field: "DesignedContent", merge: post.Body)
		</div>
	</div>
	<hr />
	@* render social sharing here - to update the link, change it in the App settings *@
    <script type="text/javascript" src="@App.Settings.SocialAddThisJS&dnn-cdv-param" data-enableoptimizations="bottom" ></script> 
	<div class="addthis_inline_share_toolbox"></div>
	@* show categories and tags *@
	@{
		var categoryList = (post.Categories as IEnumerable<dynamic>)
			.Select(cat => "<a href='" + Link.To(parameters: "category=" + cat.Key) + "' title='" + cat.Name + "'>" + cat.Name + "</a>").ToArray(); 
		var tagsList = (post.Tags as IEnumerable<dynamic>)
			.Select(tag => "<a href='" + Link.To(parameters: "tag=" + tag.Tag) + "' title='" + tag.Name + "'>" + tag.Name + "</a>").ToArray(); 
	}
	<div class="app-blog-categories">
		<strong> @(post.Categories.Count > 1 ? App.Resources.Categories : App.Resources.Category): </strong>
		@Html.Raw(string.Join(", ", categoryList))
	</div>
	<div class="app-blog-tags">
		<strong> @(post.Tags.Count > 1 ? App.Resources.Tags : App.Resources.Tag): </strong>
		@Html.Raw(string.Join(", ", tagsList))
	</div>
	<hr />

	@* show the author *@
	<div class="app-blog-authordetails">
		<div>
			<img style="float: right; margin-left: 5px; width: 200px; height: 200px; border: none;" src='@author.Image'/> @Html.Raw(author.ShortBio)
		</div>
		<div>
		@App.Resources.ReadMore <a href="@Link.To(parameters: "author=" + author.FullName)">@author.FullName</a>
		</div>
	</div>
	<div class="app-blog-backlinks">
		<a class="app-blog-btn app-blog-back" href="@Link.To()" title="Home">@App.Resources.BackToHome</a>
	</div>
</div>
} else {
	@* this happens when an article isn't published yet *@
	Response.StatusCode = 404;
	Response.TrySkipIisCustomErrors = true;
	<h1>404 (not found)</h1>
	<p>
		<a class="app-blog-btn app-blog-back" href="@Link.To()" title="Home">@App.Resources.BackToHome</a>
	</p>
}
