<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs3")).css" data-enableoptimizations="true" />
<script src="@App.Path/dist/scripts.js" data-enableoptimizations="bottom"></script>
<script src="@App.Path/dist/sticky-sidebar.min.js" data-enableoptimizations="bottom"></script>
@using Connect.Koi;
@{	
	var lib = CreateInstance("_library.cshtml"); 
	var author = AsDynamic(Data["Author"]).FirstOrDefault() ?? lib.unknownAuthor;
}
@{
    // get all posts as delived from the standard query
	var postsToShow = AsDynamic(Data["Default"]);
	
	// only apply this filter for non-editors
	if (!Permissions.UserMayEditContent) {
		postsToShow = postsToShow.Where(p => p.PublicationMoment <= DateTime.Now).Where(p => p.IsPublished);
	}
}
<section class="app-blog">
	<div class="category-header">
		<div class="row">
		<div @Koi.Class(@"bs3,unk='col-xs-12 col-sm-12 col-md-8 col-lg-8' bs4='col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8'")>
		<h1>@App.Resources.PostsBy @author.FullName</h1>
		@Html.Raw(author.ShortBio)
		</div>
		</div>
	</div>
	
	<div class="row">
		<div @Koi.Class(@"bs3,unk='col-xs-12 col-sm-12 col-md-8 col-lg-8' bs4='col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8'")>
 				@* the posts *@
            @foreach(var post in postsToShow)
            {
                @RenderPage("_list-item.cshtml", new { Post = post })
            }
        
            @* Paging Bar *@
            @RenderPage("_pager.cshtml")
				

			
		</div>
		<div @Koi.Class(@"all='' bs3,unk='col-xs-12 col-sm-12 col-md-4 col-lg-4' bs4='col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4'")>
           
            <aside>
                <div id="sidebar"  @Koi.Class(@"all='sidebar app-blog-detail-right' bs3,unk='hidden-xs hidden-sm' bs4='d-none d-sm-none d-md-none d-lg-block'")>
                    <div class="sidebar__inner">
                        @RenderPage("_category_sidebar.cshtml")
                    </div>
                </div>
                @*only show on mobile view*@
					<div @Koi.Class(@"all='sidebar app-blog-detail-right' bs3,unk='visible-xs-block visible-sm-block hidden-md hidden-lg' bs4='d-lg-none d-xl-none'")>
						<div class="sidebar__inner">
							@RenderPage("_category_sidebar.cshtml")
						</div>
						
					</div>
            </aside>
      </div>
	</div>
</section>