@{
    var post = PageData["post"];
    var cls = PageData["css"];
    var title = PageData["title"];
    var leftIcon = PageData["leftIcon"];
    var rightIcon = PageData["rightIcon"];
}
@if(post != null){
    <div class="@cls">
        <a href="@Link.To(parameters: "post=" + post.UrlKey)" >
           
            @if(!String.IsNullOrEmpty(@post.Image)) {
                <img src="@post.Image.ToLower()?w=80&amp;h=80&amp;mode=crop&amp;scale=both&amp;quality=70" alt="@post.Title">
            }
            <span class="app-blog-previouslink-title">
                <strong>@title:</strong>
                @post.Title
            </span>
        </a>
    </div>
}