@using Connect.Koi;

@{
    var postsToShow = AsDynamic(Data["Default"]).OrderByDescending(bp => bp.PublicationMoment);
}

<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs3")).css" data-enableoptimizations="true" />
<script src="@App.Path/dist/scripts.js" data-enableoptimizations="bottom"></script>

<div class="row">
    @foreach(var p in postsToShow) {
        <div class="col-12 col-md-4">
            <div class="card sc-element">
                @Edit.Toolbar(p)
                <img class="card-img-top" src="@p.Image.ToLower()?w=286&amp;h=180&amp;mode=crop&amp;scale=both&amp;quality=90&amp;anchor=@p.CropAnchor" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@p.Title</h5>
                    <p class="card-text">
                        @Html.Raw(p.Teaser.Replace("<p>", "").Replace("</p>", ""))
                    </p>
                    <a href="#" class="btn btn-primary">@App.Resources.ReadMore</a>
                </div>
            </div>
        </div>
    }   
</div>

<style>
    .card {
        height: 100%;
    }
</style>