<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs3")).css" data-enableoptimizations="true" />
<script type="text/javascript" data-enableoptimizations="true" src="@App.Path/assets/scripts.js"></script>
<script type="text/javascript" data-enableoptimizations="true" src="@App.Path/assets/tinysort.js"></script>

<div class="app-blog sc-element">@Content.Toolbar
    @Content.Note
    <div class="app-blog-tagcloud">
        <ul>
            @foreach(var tag in AsDynamic(Data["Tags"])) {
                <li class='@("app-blog-tag" + tag.ManualWeight)'><a href="@App.Settings.DetailsPage/tag/@tag.Tag" title="@tag.Name">@tag.Name</a></li>
            }
        </ul>
    </div>
</div>