@inherits Custom.Hybrid.RazorTyped
@{
  // show warning for admin if koi.json is missing
  if (Kit.Css.IsUnknown && MyUser.IsSiteAdmin) {
    <div class='dnnFormMessage dnnFormWarning'>
      @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
      @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
    </div>
  }
}

@* Activate font-Awesome 5 from the global resources and activate https://r.2sxc.org/turnon *@
@Kit.Page.Activate("FontAwesome5")

@* Include bootstrap 5 if the framework isn't known - then this file is still called, and we add Bootstrap to the page *@
@Kit.Page.Activate(condition: Kit.Css.IsUnknown, features: "Bootstrap5")

@* Include styles of the App *@
@if (Kit.Css.Is("bs5")) {
  <link rel="stylesheet" href="@MyView.Folder.Url/theme/theme.css" @Kit.Page.AssetAttributes()/>
}
<link rel="stylesheet" href="@MyView.Folder.Url/dist/styles.min.css" @Kit.Page.AssetAttributes()/>
