@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{
  var blogPost = MyModel.Item("Post");
  var pubMoment = blogPost.DateTime("PublicationMoment");
}

@* Post title *@
@Tag.Custom(MyModel.String("HeadingType")).Class("mt-3").Class(MyModel.String("CssClass", required: false)).Wrap(Tags.Nl2Br(blogPost.String("Title")))

<div class="post-meta d-flex align-items-center flex-row my-3" itemscope itemtype="http://schema.org/BlogPosting">
  @* Author Info & Link to Authors Posts *@
  @{
    var author = blogPost.Child("Author");
    var authorName = author.String("FullName");
    var marginRight = Kit.Css.Is("bs5") ? "me-2" : "mr-2";
  }
  <div class="post-author @marginRight">
    <a href='@Link.To(parameters: "author=" + authorName)'>
      @if (Text.Has(author.Url("Image"))) {
        @author.Picture("Image", settings: "Author", imgAltFallback: authorName, imgClass:"rounded-circle author-img");
      } else {
        @authorName
      }
    </a>
  </div>

  @* Post Date *@
  <time itemprop="datePublished" datetime='@pubMoment.ToString("yyyy-MM-dd")'>@pubMoment.ToString("d")</time>

  @* List categories of post *@
  @foreach (var category in blogPost.Children("Categories")) {
    <span>&nbsp;–
    <a class="post-category" href='@Link.To(parameters: "category=" + category.String("Key"))' title='@category.Attribute("Name")'>
      @category.String("Name")
    </a>
    </span>
  }
</div>