@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using System.Linq;
@{
  var discussionDomAttribute = "app-blog5-discussion-" + CmsContext.Module.Id;
  var blogPost = AsList(Data).FirstOrDefault();
  if (blogPost == null) {
    return;
  }
  var blogId = blogPost.EntityId;
}

<section @discussionDomAttribute @Edit.TagToolbar(App.Data["BlogComment"])>
  @{
    var comments = AsList(App.Data["BlogComment"]).Where(comment => comment.BlogPostFK == blogId).OrderByDescending(comment => comment.Created);
  }

  <hr/>
  <h3 class="mb-4">Comments (@comments.Count())</h3>
  <div class="container-fluid px-0">
    @Html.Partial("shared/_CommentInput.cshtml")
    
    @{
      var parentComments = AsList(comments).Where(comment => comment.ParentComment.Count == 0);
    }
    @foreach (var parentComment in parentComments) {
      @Html.Partial("shared/_Comment.cshtml", new { Comment = parentComment });

      var replies = comments
        .Where(comment => (comment.ParentComment as IEnumerable<dynamic>)
        .Any(p => p.EntityId == parentComment.EntityId));

      foreach (var reply in replies) {
        @Html.Partial("shared/_Comment.cshtml", new { Comment = reply, IsReply = true });
      }
    }
  </div>
</section>

@Html.Partial("_DiscussionAssets.cshtml", new { BlogPostId = blogId })