@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using System.Linq;
@{
  var discussionDomAttribute = "app-blog5-discussion-" + CmsContext.Module.Id;
  var blogPost = AsList(Data).FirstOrDefault();
  if (blogPost == null) {
    return;
  }
  var targetId = blogPost.EntityId;
}

<section @discussionDomAttribute @Edit.TagToolbar(App.Data["Comment"])>
  @{
    var comments = AsList(App.Data["Comment"]).Where(comment => comment.Target.EntityId == targetId).OrderByDescending(comment => comment.Created);
    var commentTotal = comments.Count();
  }

  <hr/>
  <h3 class="mb-4">@Resources.LabelComments (@commentTotal)</h3>
  <div class="container-fluid px-0">
    @Html.Partial("shared/_CommentInput.cshtml", new { IsFirstComment = commentTotal == 0 })
    
    @{
      var parentComments = AsList(comments).Where(comment => comment.ParentComment.Count == 0);
    }
    @foreach (var parentComment in parentComments) {
      @Html.Partial("shared/_Comment.cshtml", new { Comment = parentComment });

      var replies = comments
        .Where(comment => (comment.ParentComment as IEnumerable<dynamic>)
        .Any(p => p.EntityId == parentComment.EntityId));

      for (var i = 0; i < replies.Count(); i++) {
        var reply = replies.ElementAt(i);
        @Html.Partial("shared/_Comment.cshtml", new { Comment = reply, ParentId = parentComment.EntityId, IsVisible = i < 2 });
      }
      if (replies.Count() > 2) {
        <button type="button" class="btn btn-light btn-sm mb-4" app-blog5-show-all app-blog5-show-id="@parentComment.EntityId" style="margin-left: 80px;">@Resources.ViewAllComments.Replace("[total]", replies.Count().ToString())</button>
      }
    }
  </div>
  <template app-blog5-reply-template>
    @Html.Partial("shared/_CommentInput.cshtml", new { IsReply = true })
  </template>
</section>

@Html.Partial("_DiscussionAssets.cshtml", new { TargetId = targetId })