@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;

@{
  // Prepare helpers
  var helpers = CreateInstance("Links.cs");
  var globalHelpers = CreateInstance("../shared/Helpers.cs");

  var postToolbar = Kit.Toolbar.Empty()
    .Layout("-")
    .New("BlogPost", prefill: new { PublicationMoment = DateTime.Now.ToString("yyyy-MM-dd") })
    .Delete();
}
<section class="app-blog5" @Kit.Toolbar.Default(Content)>
  <div class="row">
    <div class="col-12">
      @* Title / Description of current filter (Author, Category, etc.) *@
      @Html.Partial("_ListMain.PartHeader.cshtml")
    </div>
     <div class="col-12">
          @* Desktop Category filter *@

        @Html.Partial("shared/_Categories.cshtml")
    </div>

    

      @* List the posts *@
      @foreach(var post in AsList(Data["Posts"])) {
        <article class="app-blog5-list-item effect-zoom mb-5 col-lg-4" @postToolbar.For(post)>
          @* Header-block with Image / Author, Title, Categories *@
          <div class="app-blog5-post-header">
        @Html.Partial("shared/_MainImage.cshtml", new { Post = post, Settings = Settings.Images.BlogCards })
            @Html.Partial("shared/_AuthorDateAndCategories.cshtml", new { Post = post, HeadingType = "h2", CssClass = "h3"})
          </div>

          <div class="app-blog5-post-content">
            <p>@Html.Raw(Kit.Scrub.All(@globalHelpers.TeaserAssembly(post)))</p>
            <a href="@helpers.LinkToDetailsPage(post)" class="btn btn-outline-primary stretched-link mt-2">@Resources.ReadMore</a>
          </div>
        </article>
      }

      @* Show pagination if configured *@
      @if (Content.ShowPagination == true) {
        @Html.Partial("shared/_ListPaging.cshtml")
      }

   
  </div>
</section>

@Html.Partial("shared/_Assets.cshtml")