@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  // Prepare helpers
  var helpers = CreateInstance("Links.cs");
  var globalHelpers = CreateInstance("../shared/Helpers.cs");

  // This config is for the toolbar used on an item.
  var postToolbar = Kit.Toolbar.Default()
    .Layout("-")    
    .New("BlogPost", prefill: new { PublicationMoment = DateTime.Now.ToString("yyyy-MM-dd") })
    .Delete();
}
@* If no Details-page is configured, show warning to Admin *@
@if(Edit.Enabled && !Text.Has(Settings.DetailsPage)) {
  <div class="alert alert-danger" role="alert">@Html.Raw(@Resources.LabelAdminDetailPageWarning)</div>
}

<section class="app-blog5" @Kit.Toolbar.Default(Content)>
  <h1 class="category-header mb-4">@Content.Title</h1>

  @* List the posts in 3 columns *@
  <div class="row">
    @foreach (var post in AsList(Data["Posts"])) {
      <article class="app-blog5-list-item col-12 col-md-6 col-lg-4 mb-5" @postToolbar.For(post)>
        @* Image of the post *@
        @Html.Partial("shared/_MainImage.cshtml", new { Post = post, Settings = Settings.Images.BlogCards })

        <h4>@post.Title</h4>
        <p>@Html.Raw(Kit.Scrub.All(@globalHelpers.TeaserAssembly(post)))</p>

        <a href="@helpers.LinkToDetailsPage(post)" class="btn btn-outline-primary stretched-link mt-2">@Resources.ReadMore</a>
      </article>
    }
  </div>
</section>

@Html.Partial("shared/_Assets.cshtml")
