@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{

  // Get current post to show from the View-Query + some Helpers
  var post = AsList(Data).FirstOrDefault();
  var detailsHelpers = CreateInstance("DetailsHelper.cs");

  @* Preflight: check if post found, else show notification and stop processing *@
  if(post == null) {
    <h1>@Resources.LabelPostNotExists</h1>
    <p>@Resources.LabelPostNotExistsText</p>
    @detailsHelpers.BackToListButton()
    // Set 404 status if the post was not found
    Kit.Page.SetHttpStatus(404, "Error: Blog Post not Found.");
    return;
  }

	// Add open-graph meta-tags to page header
  detailsHelpers.AddMetaTags(post);

  // Shortcut to author, makes the code simpler
  var author = post.Author;

  var postToolbar = Kit.Toolbar.Default().Layout("-").Delete();
}

<section class="row justify-content-center app-blog5 app-blog5-post-detail">
  <article class="col-lg-8 mb-4" @postToolbar.For(post)>

    @* 1. Header containing the main image, title and date information *@
    <div class="app-blog5-post-header">
      @Html.Partial("shared/AuthorDateAndCategories.cshtml", new { Post = post, HeadingType = "h1"})
      @Html.Partial("shared/MainImage.cshtml", new { Post = post })

    </div>

    @* 2. Body of the post - will also create inner content blocks / apps *@
    <div class="app-blog5-post-content mb-4">
      @Kit.Render.All(post, field: "InnerContent", merge: post.Content)
    </div>

    <hr />

    @* 3. Sharing Links (Addthis) *@
    <div class="text-center mt-4">
      <script type="text/javascript" src="@Settings.SocialAddThisJS" ></script>
      <div class="addthis_inline_share_toolbox"></div>
    </div>

    @* 4. Footer with Tags, Links to prev/next and sharing buttons *@
    <div class="app-blog5-post-footer">
      @* 4.1 Tags of post *@
      @if(AsList(post.Tags as object).Any()) {
        <hr />

        <div class="app-blog5-tags d-flex align-items-center">
          <strong class="me-2">@(post.Tags.Count > 1 ? @Resources.Tags : @Resources.Tag): </strong>
          @foreach (var tag in post.Tags) {
            <a class="btn btn-sm btn-light me-2" href='@Link.To(parameters: "tag=" + tag.Tag)' title="@tag.Name">@tag.Name</a>
          }
        </div>
      }

      <hr />

      @* 4.3 Author *@
      <div class="app-blog5-post-author-details d-flex">
        <div>
          @Html.Raw(author.ShortBio)
          @Resources.ReadMoreAuthor <a href='@Link.To(parameters: "author=" + author.FullName)'>@author.FullName</a>
        </div>
        @if(Text.Has(author.Image)) {
          var altText = Text.First(author.Field("Image").Metadata.Description, author.FullName);
          <div>
            @Kit.Image.Picture(author.Field("Image"), settings: Settings.Images.Author, imgClass: "rounded-circle author-picture", imgAlt: altText)
          </div>
        }
      </div>
      <hr />

      @* 4.4 Preview of previous and next post *@
      @{
        var previousPost = AsList(Data["Previous"]).FirstOrDefault();
        var nextPost = AsList(Data["Next"]).FirstOrDefault();
      }

      <div class='app-blog5-article-links d-flex align-items-center @(previousPost == null ? "justify-content-end" : "justify-content-between")'>
        @if (previousPost != null) {
          @detailsHelpers.PostMicroPreview(previousPost, "previous")
        }
        @if (nextPost != null) {
          @detailsHelpers.PostMicroPreview(nextPost, "next")
        }
      </div>
      <hr />
      
      @* 4.5 "Back to list" button *@
      @detailsHelpers.BackToListButton()
    </div>
  </article>
</section>

@Html.Partial("shared/Assets.cshtml")
