@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  // Prepare helpers
  var links = CreateInstance("./helpers/Links.cs");
  var listHelpers = CreateInstance("./helpers/Helpers.cs");

  // This config is for the toolbar used on an item.
  var postToolbar = Kit.Toolbar.Empty()
    .Layout("-")
    .Edit()
    .New("BlogPost")
    .Delete();
}
<section class="app-blog5" @Kit.Toolbar.Default(Content)>
  <div class="row">
    <div class="col-12">
      @* Title / Description of current filter (Author, Category, etc.) *@
      @Html.Partial("ListMain.PartHeader.cshtml")
    </div>
    <div class="col-12">
      @Html.Partial("./parts/Categories.cshtml")
    </div>

    @* List the posts *@
    @foreach (var post in AsTypedList(Data["Posts"])) {
      <article class="app-blog5-list-item effect-zoom mb-5 col-lg-4" @postToolbar.For(post)>
        @* Header-block with Image / Author, Title, Categories *@
        <div class="app-blog5-post-header">
          @Html.Partial("./parts/MainImage.cshtml", new { post, Settings = "BlogCards" })
          @Html.Partial("./parts/AuthorDateAndCategories.cshtml", new { post, HeadingType = "h2", CssClass = "h3"})
        </div>

        <div class="app-blog5-post-content">
          <p>@Html.Raw(listHelpers.BuildTeaser(post))</p>
          <a href="@links.LinkToDetailsPage(post)" class="btn btn-outline-primary stretched-link mt-2">@Resources.ReadMore</a>
        </div>
      </article>
    }

    @* Show pagination if configured *@
    @if (Content.ShowPagination == true) {
      @Html.Partial("./parts/ListPaging.cshtml")
    }
  </div>
</section>

@Html.Partial("./parts/Assets.cshtml")