@inherits AppCode.Razor.ListRazor
@using ToSic.Razor.Blade
@using AppCode.Data
@{

  var mainToolbar = Kit.Toolbar.Default()
    .Edit(operation: "%", tweak: b => b.Note("Edit display settings"))
    .New("BlogPost", tweak: b => b.Position(1).Color("#15585F").Note("Create a new post"));

  // This config is for the toolbar used on an item.
  var postToolbar = Kit.Toolbar.Empty()
    .Settings(hover:"left", autoAddMore:"start")
    .Edit(tweak: b => b.Color("#15585F"))
    .Delete(tweak: b => b.Color("gray"));
}

@* If no Details-page is configured, show warning to Admin *@
@if (MyUser.IsContentAdmin && !Text.Has(App.Settings.DetailsPage)) {
  <div class="alert alert-danger" role="alert">@App.Resources.Html("LabelAdminDetailPageWarning")</div>
}

<section class="app-blog5" @mainToolbar.For(MyItem)>
  <h1 class="category-header mb-4">@MyItem.Title</h1>

  @* List the posts in 3 columns *@
  <div class="row">
    @foreach (var post in AsList<BlogPost>(MyData.GetStream("Posts"))) 
    {
      <article class="app-blog5-list-item col-12 col-md-6 col-lg-4 mb-5" @postToolbar.For(post)>
        @* Image of the post *@
        @Html.Partial("./parts/MainImage.cshtml", new { post, Settings = "BlogCards" })

        <h4>@post.Title</h4>
        <p>@Html.Raw(BuildTeaser(post))</p>

        <a href="@LinkToDetailsPage(post)" class="btn btn-outline-primary stretched-link mt-2">@App.Resources.ReadMore</a>
      </article>
    }
  </div>

  @* Show pagination if configured *@
  @if (MyItem.Bool("ShowPagination")) {
    @Html.Partial("./parts/ListPaging.cshtml")
  }
</section>

@Html.Partial("./parts/Assets.cshtml")
