@inherits Custom.Hybrid.Razor12
@using System.Linq;
@using ToSic.Razor.Blade;
@{

  // Optionally get selected category from Query 
  // If there is nothing in the Category-filter, then it's a virtualy entity with all properties being null
  var filterCat = AsDynamic(Data.GetStream("Category", emptyIfNotFound: true).FirstOrDefault()).Key;

  // 1.1. Get all Blog Posts from the App, to ignore filters (note that admins also get unpublished posts)
  var allPosts = AsList(App.Data["BlogPost"]);
  
  // 1.2 Get all categories which have posts and keep the Count for showing
  var catsWithPosts = AsList(App.Data["Category"]).Select(Cat => new {
    Cat,
    PostsCount = Cat.Parents("BlogPost").Count  // Count all the BlogPosts pointing to this category
  })
  .Where(set => set.PostsCount > 0);            // ...and only keep categories which have posts
}

<div class="app-blog5-sidebar mb-3">
  @* 2. Categories Title + RSS Link*@
  <h5 class="pb-2 d-flex justify-content-between">
    @Resources.Categories
    <a class="badge badge-pill bg-primary rss-button"
      href='@Link.To(api: "api/Blog/Rss", parameters: filterCat == null ? "" : "category=" + filterCat)'
      target="_blank">
      <i class="fas fa-rss align-self-center text-white"></i>
    </a>
  </h5>

  <ul>
    @* 3.1. Link for the all-categories *@
    <li class='@(filterCat == null ? "font-weight-bold" : "")'>
      <a href='@Link.To()'>
        @Resources.ShowAll<span class="badge badge-pill badge-primary float-right">@allPosts.Count()</span>
      </a>
    </li>

    @* 3.2 Show each used Category + count *@
    @foreach (var cat in catsWithPosts) {
      <li class='@(cat.Cat.Key == filterCat ? "font-weight-bold" : "")'>
        <a href='@Link.To(parameters: "category=" + cat.Cat.Key)'>
          @cat.Cat.Name
          <span class="badge badge-pill badge-primary float-right">@cat.PostsCount</span>
        </a>
      </li>
    }
  </ul>
  @if(DynamicModel.EnableSocialSharing == true) {
    <script type="text/javascript" src="@Settings.SocialAddThisJS" ></script>
    <div class="addthis_inline_share_toolbox mt-4"></div>
  }
</div>