@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  var isLoggedIn = CmsContext.User.Id > 0;
  var isReply = DynamicModel.IsReply ?? false;
}

<div class='row mb-4 @(isReply ? "d-none": "")' @(isReply ? "app-blog5-reply-form-wrapper" : "")>
  <div class="col-auto mr-2">
    @* TODO: User avatar or guest picture fallback *@
    <div class="rounded-3" style="height: 64px; width: 64px; background-color: lightgray;">
    </div>
  </div>
  <div class="col" @(isReply ? "app-blog5-reply-form" : "app-blog5-discussion-form") novalidate="true">
    @if (!isLoggedIn) {
      <div class="form-group mb-2">
        <input class="form-control" app-blog5-discussion-pseudonym placeholder="Your name" required data-pristine-required-message="Please enter your name">
      </div>
    }
    <div class="form-group mb-3">
      <textarea class="form-control" app-blog5-discussion-content placeholder="Join the discussion..." required minlength="1" data-pristine-required-message="Please write a comment" style="height: 100px"></textarea>
    </div>
    @* TODO: Change text if logged in *@
    <div class="container-fluid px-0">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          @if (isReply) {
            <button app-blog5-submit-reply-button type="button" class="btn btn-outline-primary me-2">@(isLoggedIn ? "Reply" : "Reply as guest")</button>
            <button app-blog5-cancel-reply-button type="button" class="btn btn-outline-secondary me-2">Cancel</button>
          } else {
            <button app-blog5-submit-comment-button type="button" class="btn btn-outline-primary me-2">@(isLoggedIn ? "Comment" : "Comment as guest")</button>
          }
        </div>
        @if (!isLoggedIn) {
          <div class="col-auto">
            <span>or <a href="@CmsContext.Site.Url/Login?returnUrl=@Link.To(parameters: CmsContext.Page.Parameters)">Login</a></span>
          </div>
        }
      </div>
    </div>
  </div>
</div>