@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  var isLoggedIn = CmsContext.User.Id > 0;
  var isReply = DynamicModel.IsReply ?? false;
  var isFirstComment = DynamicModel.IsFirstComment ?? false;
}

<div class='row mb-4 @(isReply ? "d-none": "")' @(isReply ? "app-blog5-reply-form-wrapper" : "")>
  <div class="col-auto mr-2">
    <div class="rounded-circle" style="height: 64px; width: 64px;">
      <img class="img-fluid rounded-circle" src="@App.Path/images/default-avatar.png">
    </div>
  </div>
  <div class="col" @(isReply ? "app-blog5-reply-form" : "app-blog5-discussion-form") novalidate="true">
    @if (!isLoggedIn) {
      <div class="form-group mb-2">
        <input class="form-control" app-blog5-discussion-pseudonym placeholder="@Resources.PlaceholderNameInput" required data-pristine-required-message="@Resources.MessageNameRequired">
      </div>
    }
    <div class="form-group mb-3">
      <textarea class="form-control" app-blog5-discussion-content placeholder="@(isFirstComment ? Resources.PlaceholderStartDiscussion : Resources.PlaceholderJoinDiscussion)" required minlength="1" data-pristine-required-message="@Resources.MessageCommentRequired" style="height: 100px"></textarea>
    </div>
    <div class="container-fluid px-0">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          @if (isReply) {
            <button app-blog5-submit-reply-button type="button" class="btn btn-outline-primary me-2 mb-2">@(isLoggedIn ? Resources.Reply : Resources.ReplyAsGuest)</button>
            <button app-blog5-cancel-reply-button type="button" class="btn btn-outline-secondary me-2 mb-2">@Resources.Cancel</button>
          } else {
            <button app-blog5-submit-comment-button type="button" class="btn btn-outline-primary me-2">@(isLoggedIn ? Resources.Comment : Resources.CommentAsGuest)</button>
          }
        </div>
        @if (!isLoggedIn) {
          <div class="col-auto">
            <span>@Resources.LabelOr <a href="@CmsContext.Site.Url/Login?returnUrl=@Link.To(parameters: CmsContext.Page.Parameters)">@Resources.Login</a></span>
          </div>
        }
      </div>
    </div>
  </div>
</div>