@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;
@{
var imgSvc = GetService<IImageService>();

  var post = DynamicModel.Post;
  var imgSettings = DynamicModel.Settings ?? Settings.Images.Blog;
  var blogImg = Link.Image(post.Image, imgSettings, parameters: "anchor=" + post.CropAnchor);
}

@* Image of the post *@
@if (Text.Has(post.Image)) {
  @imgSvc.Picture(blogImg, settings: imgSvc.Settings("Content"), imgClass:"img-fluid", imgAlt:post.Title)
  @* <picture>
    <img loading="lazsy" class="img-fluid" src="@blogImg" alt="@post.Title" />
  </picture> *@
}

@* Show info to admin when the post will publish *@
@if(Edit.Enabled && post.PublicationMoment.CompareTo(DateTime.Now) > 0) {
  <div class='alert alert-warning @(Text.Has(post.Image) ? "mb-0" : "mb-3")' role="alert">
    @(Resources.LabelAdminPostPublishInfo + " " + post.PublicationMoment.Date.ToString("d") + " " + post.PublicationMoment.TimeOfDay)
  </div>
}