@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  // Prepare helpers
  var helpers = CreateInstance("Links.cs");

  // Toolbar configuration for use on posts
  var postToolbarConfig = new [] {
    "-layout",
    "%new&show=true?contentType=BlogPost&entityId=0&prefill:PublicationMoment=" + DateTime.Now.ToString("yyyy-MM-dd"),
    "%delete&show=true"
  };
}
@* todo: make sure the section is'nt restyled everywhere *@
<section class="app-blog" @Edit.TagToolbar(Content)>
  @* Blog-title (not post) and if filtered, additional descriptions *@
  @* todo: @2ro this row with that content makes no sense, probabyl drop*@
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      @Html.Partial("_List-Main.Header.cshtml")
    </div>
  </div>

  @* todo: @2ro this row makes no sense - the content is always single-column ? *@
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      @* Mobile Category filter *@
      <div class="d-xs-block d-lg-none">
      @Html.Partial("_Part Categories.cshtml", new { MobileView = true })
      </div>

      @* List the posts *@
      @foreach(var post in AsList(Data["Posts"])) {
        <article class="list-item" @Edit.TagToolbar(post, toolbar: postToolbarConfig)>
          <div class="app-blog-readmorelink">
            <a class="link-overlay" href="@helpers.LinkToDetailsPage(post)"></a>

            @* Header-block with Image / Author, Title, Categories *@
            <div class="header">
              @Html.Partial("_Part Main Image.cshtml", new { Post = post })
              @Html.Partial("_Part Post Author and Date.cshtml", new { Post = post, HeadingType = "h2"})
            </div>

            <div class="content">
              @Html.Raw(post.Teaser)
              <span class="readmore btn btn-outline-primary">@Resources.ReadMore</span>
            </div>
          </div>
        </article>
      }

      @* Show pagination if configured *@
      @if (Content.ShowPagination == true) {
        @Html.Partial("_Part List Paging.cshtml")
      }
    </div>

    @* Desktop Category filter *@
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        @Html.Partial("_Part Categories.cshtml")
    </div>
  </div>
</section>

@Html.Partial("_Part Assets.cshtml")