@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@*
  Shows a preview of the previous or next post
*@

@{
  var helpers = CreateInstance("_Helpers.cshtml");
  var post = PageData["Post"];
  var context = PageData["Context"]; // "previous" or "next"

  var imageUrl = Text.Has(post.Image) ? post.Image : App.Resources.PlaceholderMissingImage;
  var title = context == "previous"
    ? App.Resources.PreviousPost
    : App.Resources.NextPost;
}

<div class="@context">
  <a href='@Tags.SafeUrl(Link.To(pageId: helpers.GetDetailsPageTabId(), parameters: helpers.DetailPageQueryString(post)))'>
    <img src='@Tags.SafeUrl(imageUrl + "?w=80&h=80&mode=crop&scale=both&quality=70")' alt="@post.Title" />
    <span class="app-blog-previouslink-title">
      <strong>@title:</strong>@post.Title
    </span>
  </a>
</div>
